# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Node / Tailwind (npm mode)
node_modules/
theme/static_src/node_modules/
package-lock.json

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp

# Env
.env
.env.*
